.button {
  padding: var(--space-xs) var(--space-md);
  background-color: var(--color-neutral-900);
  color: var(--color-neutral-100);
  border: 0;
  border-radius: var(--radius-3xl);
  cursor: pointer;

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: var(--color-purple-300);
  }

  &[data-button='secondary'] {
    background-color: var(--color-red-300);

    &:hover,
    &:focus,
    &:focus-visible {
      background-color: var(--color-orange-300);
    }
  }
}
