@use 'sass:map';
@use '../config' as *;

.cta {
  text-align: center;

  &__content {
    align-items: center;

    @media (min-width: map.get($mediaQuery, tablet)) {
      --gap: var(--space-xl);
      align-items: center;
      text-align: left;

      button {
        flex-basis: 40%;
      }
    }
  }
}
